.btn-slide-left {
    animation: btn-slide-left forwards 500ms ease-in-out;
}

.btn-slide-right {
    animation: btn-slide-right forwards 500ms ease-in-out;
}

@keyframes btn-slide-left {
    0% {
        transform: translateX(0);
    }

    80% {
        transform: translateX(-80px);
    }

    100% {
        transform: translateX(-60px);
    }
}

@keyframes btn-slide-right {
    0% {
        transform: translateX(-60px);
    }

    80% {
        transform: translateX(20px);
    }

    100% {
        transform: translateX(0);
    }
}

.link-slide-left {
    animation: link-slide-left forwards 400ms ease-in-out;
}

.link-slide-right {
    animation: link-slide-right forwards 400ms ease-in-out;
}

@keyframes link-slide-left {
    0% {
        transform: translateX(0);
        opacity: 100;
    }

    80% {
        transform: translateX(-50%);
    }

    100% {
        transform: translateX(-20%);
        opacity: 0;
    }
}

@keyframes link-slide-right {
    0% {
        transform: translateX(-20%);
        opacity: 0;
    }

    80% {
        transform: translateX(20%);
    }

    100% {
        transform: translateX(0);
        opacity: 100;
    }
}

.dialog-pop-up {
    animation: dialog-pop-up forwards 500ms ease-in-out;
}

.dialog-hidden {
    animation: dialog-hide forwards 500ms ease-in-out;
}

@keyframes dialog-pop-up {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 100%;
    }
}

@keyframes dialog-hide {
    0% {
        opacity: 100%;
    }

    100% {
        opacity: 0;
    }
}